*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
section{
    position: absolute;
    top : -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}